body {
    background-color: #ffdbe3;
    font-family: 'Arial', sans-serif;
}

nav {
    background-color: #f967b0;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    padding: 8px 20px;
    border-radius: 5px; 
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #d96d98; 
    color: #ffffff;  
}

body {
    margin: 0;             
    padding: 0;      
}

main {
    margin-top: 60px;
}

#goodbanner, #badbanner, #neutralbanner {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    font-size: 25pt;
    color: #efefef;
}

#goodbanner {
    background-color: green;
}

#badbanner {
    background-color: #bf151d;
}

#neutralbanner {
    background-color: #2176ff;
    text-shadow: none;
    opacity: 1;
}

